[Unit]
Description=Greener Circuits database updating service
Requires=network-online.target

[Service]
User=mrodby
WorkingDirectory=/home/mrodby/github/GreenerCircuits/backend
ExecStart=/home/mrodby/github/GreenerCircuits/backend/update.py
EnvironmentFile=/home/mrodby/gcenv

[Install]
WantedBy=multi-user.target

